.container {
  margin-top: 1%;
  width: 90%;
}
.height {
  height: 940px;
  overflow: auto;
}
@media (max-width:940px){
  .container {
    width: 100%;
  }
  .gridSystem {
    grid-template-columns: 1fr;
  }
}